/.idea/
*.iml

#backend_e-source
/backend_e-source/target/
/backend_e-source/!.mvn/wrapper/maven-wrapper.jar
/backend_e-source/!**/src/main/**/target/
/backend_e-source/!**/src/test/**/target/
/backend_e-source/.apt_generated
/backend_e-source/.classpath
/backend_e-source/.factorypath
/backend_e-source/.project
/backend_e-source/.settings
/backend_e-source/.springBeans
/backend_e-source/.sts4-cache
/backend_e-source/mvnw.cmd
/backend_e-source/mvnw
/backend_e-source/.mvn/
/backend_e-source/src/main/resources/application-secrets.properties
# frontend
/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*
/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/*.local