#root {
  margin: 0;
  text-align: center;
}

.app {
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100vw;
}

.logo {
  max-height: 40px;
  padding: 0 5px 0 20px;
  transition: all 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.5);
}

.modal-90w {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1050;
}

.modal.show .modal-90w {
  opacity: 1;
}

/* === SHADOW TYPES ===*/
.shadow--outset,
.shadow--raised,
.shadow--inset,
.shadow--sunken,
.shadow--ridge {
  padding: 1rem 1.5rem;
  border-radius: 1.2rem;
  background: var(--color-21);
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  max-width: 100%;
}

.shadow--outset {
  box-shadow: 0.5rem 0.5rem .5rem var(--color-1),
              -0.25rem -0.25rem 0.4rem var(--color-2);
}
.shadow--raised {
 box-shadow:
            0.25rem 0.25rem .5rem var(--color-3),
            0.063rem -0.063rem 1rem var(--color-2),
            inset 0.1rem 0.1rem .6rem var(--color-2),
            inset -0.1rem -0.1rem 0.625rem var(--color-2);

}
.shadow--inset {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--color-1),
              inset -0.2rem -0.2rem 0.5rem var(--color-0);
}
.shadow--sunken {
  border: solid 1px var(--color-2);
  box-shadow: -0.2rem -0.2rem .3rem var(--color-1),
              0.3rem 0.3rem 1.3rem var(--color-21);
}
.shadow--ridge {
  box-shadow: inset 0.1rem 0.1rem 0.9rem var(--color-1),
              inset -0.1rem -0.1rem 0.9rem var(--color-2),
              0.1rem 0.1rem 0.5rem var(--color-1),
              0.1rem -0.1rem 0.4rem var(--color-2);
}



