@keyframes pulsate {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}
@keyframes flake {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
@keyframes flake-text-color {
    0% { color: black; }
    33% { color: white; }
    66% { color: red; }
    100% { color: black; }
}
@keyframes bounce {
    0%, 100% {
        transform: translatey(0);
    }
    50% {
        transform: translatey(-10px);
    }
}

button {
    border-radius: 25px;
    border: 2px solid var(--color-01);
    margin: 0 3px;
    padding: .3em .5em;
    font-size: medium;
    font-weight: 500;
    font-family: inherit;
    color: var(--color-4);
    cursor: pointer;
    background: var(--color-0);
    box-shadow: inset -3px -3px 3px var(--color-1),
    inset 3px 3px 3px var(--color-21);
}

.clear-iframe-btn:hover,
button:hover {
    color: var(--color-4);
    box-shadow: inset -5px -5px 10px #470603,
    inset 5px 5px 10px #a20f08;
}

.sitemap-close-btn,
.close-btn-GetMore,
.close-btn-EditBookmark {
    margin: 0 0 -30px 40px;
    width: 40px;
    height: 40px;
    padding: 0;
    border: var(--color-1) solid 2px;
    outline: solid 2px var(--color-22);
    color: var(--color-31);
}
.sitemap-close-btn {
    position: absolute;
    margin: -55px 0 0 0;
}

.close-btn-EditBookmark {
    position: absolute;
    left: 2%;
}

.save-bookmark-btn {
    border: var(--color-1) solid 2px;
    outline: solid 2px var(--color-22);
    margin-top: 3rem;
    width: fit-content;
    height: 50px;
}

.edit-bookmark-btn,
.delete-forever-btn{
    margin: auto 0;
    border-radius: 8px;
}

.submit {
    margin: 10px 20px;
}

.save-close-btn {
    position: relative;
    width: 100px;
    height: 50px;
    margin: 25px;
    left: 1%;
    padding: 5px 15px;
    background-color: var(--color-0);
    border: solid 2px transparent;
}

.delete-forever-btn {
    position: absolute;
    align-items: center;
    height: 50px;
    width: 50px;
    margin: 25px;
    padding: 0 10px;
    right: 7%;
    border: solid 2px var(--color-3);
}

.delete-forever-btn:hover {
    border: solid 2px var(--color-31);
    background-color: var(--color-3);
    color: var(--color-4);
    box-shadow: 7px 7px 10px var(--color-3),
    -3px -3px 10px var(--color-31),
    inset -5px -5px 10px var(--color-3),
    inset 5px 5px 10px var(--color-31);

    animation:
            pulsate 1s linear infinite,
            flake 2s linear infinite,
            flake-text-color .5s linear infinite;
}

.save-close-btn:hover,
.submit:hover {
    border: solid 2px var(--color-23);
    outline: solid 2px var(--color-51);
    color: var(--color-5);
    box-shadow: 0 0 15px 10px var(--color-5),
                inset -5px -5px 10px var(--color-51),
                inset 5px 5px 10px var(--color-51);
}

.dropdown-button-container > button {
    flex-basis: 90%;
    border-radius: 0;
    margin: 0;
    height: 20px;
    font-size: x-small;
    color: var(--color-4);
    font-weight: bold;
    font-family: Typewriter, ui-monospace, monospace, sans-serif;
    background: var(--color-1);
    border: 2px  solid var(--color-21);
    outline: solid 1px var(--color-1);
    box-shadow: inset -5px -5px 5px var(--color-1),
                inset 5px 5px 5px var(--color-21);

}

.dropdown-button-container > button:first-child {
    padding: 2px;
    margin:  0;
    min-width: 150px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-right: none;
    white-space: nowrap;
}

.dropdown-button-container > button:last-child {
    padding: 2px;
    margin:  0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    outline: 1px solid var(--color-1);
    border-left: none;
    min-width: 25px !important;
    max-width: 25px !important;
    box-shadow: inset 3px -10px 7px var(--color-1),
                inset -9px 10px 8px var(--color-21);
}
.dropdown-button-container > button:first-child:hover,
.dropdown-button-container > button:last-child:hover {
    background-color: var(--color-01);
    color: var(--color-41);
    outline: 1px solid var(--color-3-2);
    box-shadow: 0 0 5px 1px var(--color-41),
                inset 0 1px 3px var(--color-4),
                inset 0 -1px 3px var(--color-4);;
}


.external-links-btn {
    position: absolute;
    padding: 0;
    height: 40px;
    width: 40px;
    top: 10px;
    right: 15px;
    scale: 1.1;
}

.set-your-own-btn {
    margin: auto;
    padding: 5px 10px;
    font-size: x-small;
    font-weight: bold;
}

.timer-controls button {
    scale: .65;
}

.close-btn-GetMore:hover,
.close-btn-EditBookmark:hover{
    padding: 0;
    border: solid 2px var(--color-31);
    outline: solid 2px var(--color-3-2);
    box-shadow: 5px 5px 10px var(--color-3),
                -3px -3px 10px var(--color-31),
                inset -3px -3px 10px var(--color-3),
                inset 3px 3px 10px var(--color-31);
}

.footer-btn {
    margin: 1px 5px 0 0;
    padding: 3px 0 0 1px;
    width: 33px;
    height: 33px;
    border: solid 2px var(--color-01);
    box-shadow:
            inset -2px -2px 2px var(--color-01),
            inset 2px 2px 3px var(--color-1),
            -5px -5px 25px var(--color-01),
            1px 1px 3px var(--color-2);
}

.google-btn {
    scale: 1.05;
    margin: 0;
    right: 33px;
    border: solid 2px var(--color-3);
    outline: 1px solid var(--color-01);
}

.close-navigation-btn {
    position: absolute;
    border-radius: 0;
    border: solid 2px var(--color-0);
    height: 32px;
    width: 50px;
}

.close-navigation-btn {
    left: 1px;
    bottom: 3px;
    border-right: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.get-more-button {
    position: relative;
    scale: .97;
    width: 200px;
    top: 3px;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    border: solid 1px var(--color-01);
    outline: solid 1px var(--color-4);
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--color-23),
                inset -0.2rem -0.2rem 0.5rem var(--color-3-1),
                0.1rem 0.1rem 0.3rem var(--color-23),
                -0.1rem -0.1rem 0.2rem var(--color-4);


    z-index: 99999999;
}
.get-more-button:hover {
    border-radius: 10px;
    border: solid 1px var(--color-51);
    outline: solid 2px var(--color-5);
    box-shadow: inset -10px -10px 10px var(--color-51),
    inset 5px 5px 10px var(--color-5);
}
.get-more-button:hover {
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
}

.close-navigation-btn:hover {
    box-shadow: 0 0 10px 3px var(--color-0),
                inset -3px -3px 10px var(--color-31),
                inset 3px 3px 10px var(--color-31);
}

.panel-proportions-control button {
    width: 19px;
    height: 40px;
    padding: 1px 0 0 0;
    margin: 50px 4px;
}
.iframe-handler-btn {
    width: 25px;
    height: 16px;
    padding: 1px 0 0 0;
    margin: 2px;
    font-size: small;
}
.copy-to-clipboard-btn {
    padding: 1px 0 0 0;
    width: 20px;
    height: 18px;
    bottom: 0;
    border-radius: 4px;
    margin: 5px 0 0 5px;
    scale: 1.4;
    cursor: copy;
}
.ruler-btn {
    position: absolute;
    border-radius: 5px;
    bottom: -13px;
    right: 29px;
    height: 24px;
    width: 20px;
    padding: 2px 0 0 0;
}
.panel-proportions-control button,
.iframe-handler-btn,
.copy-to-clipboard-btn,
.ruler-btn {
    color: var(--color-4);
    border: solid 1px var(--color-00);
    opacity: .6;
    z-index: 1;
}

.reset-width-btn {
    position: absolute;
    left: 0;
    top: 51.5%;
    color: var(--color-3);
    background-color: transparent;
    box-shadow: none;
    border: none;
    scale: 1.3;
    z-index: 9999;
    border-radius: 0;
    padding: 1px 0 0 0;
    border-left: 2px solid var(--color-3-1);
}

.reset-width-btn:hover,
.reset-width-btn:focus{
    color: var(--color-4);
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    padding: 1px 0 0 0;
    border: none;
    border-left: 2px solid var(--color-4);
}

#reset-all-dimensions-btn {
    position: fixed;
    z-index: 999999;
    background-color: transparent;
    border: none;
    box-shadow: none;
    top: -13px;
    left: 20px;
    scale: 1.12;
}

.clear-iframe-btn {
    position: absolute;
    padding: 1px 0 0 0;
    width: 30px;
    height: 30px;
    top: -23px;
    margin-left: -8px;
    color: var(--color-23);
}

.development .clear-iframe-btn {
    top: 3px;
    left: 12px;
}

.prev-prior-handler {
    position: absolute;
    top: -18px;
    right: -5px;
}

.development .prev-prior-handler {
    top: 0;
    right: 35px;
}

.panel-menu-btn {
    position: absolute;
    left: -5px;
    bottom: 6px;
    padding: 1px 0 0 0;
    width: 32px;
    height: 30px;
    color: var(--color-23);
}

.development .panel-menu-btn {
    bottom: 6px;
}

.iframe-handler-btn:hover,
.panel-proportions-control button:hover {
    opacity: 1;
    padding: 1px 0 0 0;
    color: var(--color-41);
    background-color: var(--color-0);
    border: solid 1px var(--color-3);
    box-shadow: 5px 5px 10px var(--color-3),
                -3px -3px 10px var(--color-31),
                inset 1px -1px 5px var(--color-22),
                inset -1px 1px 5px var(--color-22);
}

.development  .ruler-btn {
    bottom: -40px;
    right: 67px;
}

.toggle-labels-btn {
    position: absolute;
    border: solid 1px var(--color-4);
    color: var(--color-31);
    bottom: 15px;
    padding: 4px 5px;
    right: -4px;
    scale: .9;
}

.more-time-controller-online-btn {
    width: 125px;
    height: 35px;
    margin: 1rem auto;
}

.sitemap-close-btn {
    position: sticky;
    top: 0;
    left: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border: solid 2px var(--color-01);
    outline: solid 2px var(--color-22);
    color: var(--color-31);
}


@media only screen and (max-width: 1050px) {

    .reset-width-btn {
        display: none;
    }

    .ruler-btn
    {
        position: absolute;
        top: 95.2%;
    }

    .get-more-button {
        right: 1px;
    }

    .close-btn-GetMore {
        position: absolute;
        bottom: 10.5%;
        left: 1.5%;
    }

    .save-bookmark-btn {
        position: relative;
        margin-top: 1.5rem;
        left: 32%;
        bottom: -20%;
    }

}