.panel {
    border: solid 2px var(--color-2);
    border-radius: 20px;
    padding: 1.5rem 2.2rem 1rem 1rem;
    background: var(--color-0);
}

.inner-panels-wrapper {
}

.panel-items-container { display: grid;
    grid-template-areas: "iframe-bounding" "panel-controls";
    grid-template-rows: calc(100% - 25px) 25px; /* Beispiel: 50px für die unteren 13% */
    gap: 5px;

    z-index: 0;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
    align-content: center;
}

.panel-controls { grid-area: panel-controls;
    position: absolute;
    bottom: 0;
    margin-bottom: -14px;
    left: 0;
    margin-left: -12px;
}

.development  .panel-controls {
    margin-bottom: -30px;
    margin-left: 5px;
}

.development .panel-items-container {
    grid-template-rows: calc(100% - 25px) 25px; /* Beispiel: 50px für die unteren 13% */
    grid-row: 1;
}

.ins_pro,
.snip_gen,
.know_guide,
.lip_doc,
.project,
.personal > .panel-items-container {
    grid-template-rows: calc(100% - 25px) 25px; /* Beispiel: 50px für die unteren 13% */
}

.prev-prior-handler {
    margin: -8px 0 0 0;
}
.development .prev-prior-handler {
    margin: 0;
}

.iframe-bounding { grid-area: iframe-bounding;

    border: 1px solid var(--color-2);
    margin: 0.5rem;
    padding: 0;

    width: 100%;
    height: 100%;

    min-width: 0;
    min-height: 0;

}

iframe {

    border: 1px solid transparent;
    border-radius: 20px;
    background: var(--color-0);
    overflow: scroll;

    width: 100%;
    height: 100%;

    min-width: 0;
    min-height: 0;

}

.panel-name {
    position: absolute;
    font-size: small;
    top: -9px;
    right: 10px;
    color: var(--color-21);
    background-image: -webkit-linear-gradient(270deg, #808080 53%, #808080 54%, #c0c0c0 64%, #808080 72%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.workstation .panel-name {
    top: 15px;
    right: 52px;
}

.panel-proportions-control {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 30vh;
}

.loaded-bookmark-history {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 15px;
    top: -26px;
    left: 35px;
    font-size: xx-small;
    scale: 1.1;
    color: var(--color-22);
}

.development .loaded-bookmark-history {
    position: absolute;
    height: 20px;
    top: 0;
    left: 50px;
}

.loaded-bookmark-element {
    margin: 0 3px;
}

#currently-displayed-bookmark {
    margin-bottom: 10px;
    font-size: small;
    font-weight: bold;
    color: var(--color-31);
}



#panel-temporary-link-input input{
    height: 18px !important;
    padding: 0 0 0 10px;
    margin-right: 40%;
    font-size: xx-small;
    border: solid 1px var(--color-21);
    background-color: var(--color-01);
    box-shadow: outset 4px 4px 10px var(--color-21),
                inset 10px 10px 10px var(--color-0);
    opacity: .7;
    color: var(--color-41);
}

.temporary-input-area {
    position: relative;
    top: 0;
    margin: 0 5px 5px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#size-indicator {
    position: absolute;
    bottom: -20px;
    right: -13px;
    margin: 0 5px 5px 0;
    font-size: x-small;
    font-weight: bold;
    color: var(--color-21);
}

.development #size-indicator {
    bottom: -45px;
    right: 25px;
}

#size-indicator p {
    margin: 0;
    padding: 0;
}