.panel {
    border: solid 2px var(--color-2);
    border-radius: 20px;
    padding: 1rem 2.2rem 1rem 1rem;
    background: var(--color-0);
}

.inner-panels-wrapper {
}

.panel-items-container { display: grid;
    grid-template-areas: "iframe-bounding" "panel-controls";
    grid-template-rows: calc(100% - 25px) 25px; /* Beispiel: 50px für die unteren 13% */
    gap: 5px;

    z-index: 0;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
    align-content: center;
}

.panel-controls { grid-area: panel-controls;
    position: absolute;
    bottom: 0;
    margin-bottom: -14px;
    left: 0;
    margin-left: -12px;
}

.development  .panel-controls {
    margin-bottom: -30px;
    margin-left: 5px;
}

.development .panel-items-container {
    grid-template-rows: calc(100% - 25px) 25px; /* Beispiel: 50px für die unteren 13% */
    grid-row: 1;
}

.ins_pro,
.snip_gen,
.know_guide,
.lip_doc,
.project,
.personal > .panel-items-container {
    grid-template-rows: calc(100% - 25px) 25px; /* Beispiel: 50px für die unteren 13% */
}

.iframe-bounding { grid-area: iframe-bounding;

    border: 1px solid var(--color-2);
    margin: 0.5rem;
    padding: 0;

    width: 100%;
    height: 100%;

    min-width: 0;
    min-height: 0;

}

iframe {

    border: 1px solid transparent;
    border-radius: 20px;
    background: var(--color-0);
    overflow: scroll;

    width: 100%;
    height: 100%;

    min-width: 0;
    min-height: 0;

}

.panel-name {
    position: absolute;
    font-size: small;
    top: -9px;
    right: 10px;
    color: var(--color-21);
    background-image: -webkit-linear-gradient(270deg, #808080 53%, #808080 54%, #c0c0c0 64%, #808080 72%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.workstation .panel-name {
    top: 15px;
    right: 52px;
}

.panel-proportions-control {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 30vh;
}

