.esources-desk { display: grid;
    grid-template-areas: "garage workstation library managements";
/*    place-items: center;*/
    place-content: center;

    gap: 90px;

    min-width: 100vw;
    height: 100vh;
    /*padding-right: 1.5rem;*/ /* wegen der position fixed im body aus der index.css eingefügt*/
}

.placeholder-gap-row {
    height: 1rem;
}

.garage { grid-area: garage; display: grid;
    grid-template-areas: "ins_pro" "snip_gen";

    min-width: fit-content;
    min-height: fit-content;
    margin: -3rem 1.5rem 0 .1rem; /* -3rem wegen der position fixed im body aus der index.css von -1.4rem verändert*/
}
.ins_pro { grid-area: ins_pro;
    min-width: fit-content;
}
.snip_gen { grid-area: snip_gen;
    min-width: fit-content;
}

.workstation { grid-area: workstation; display: grid;
    grid-template-areas: "development";
    margin: -3rem -4.5rem 0 -2.7rem; /* -3rem wegen der position fixed im body aus der index.css von -1.4rem verändert*/
}
.development { grid-area: development;

    height: 100%;
    border-radius: 20px;
}

.library { grid-area: library; display: grid;
    grid-template-areas: "know_guide" "lip_doc";
    min-width: fit-content;

    margin: -3rem -1rem 0 0; /* -3rem wegen der position fixed im body aus der index.css von -1.4rem verändert*/
}
.know_guide { grid-area: know_guide;
    min-width: fit-content;
}
.lip_doc { grid-area: lip_doc;
    min-width: fit-content;
}

.managements {
    grid-area: managements;
    display: grid;
    grid-template-areas: "project" "personal";

    min-width: fit-content;
    margin: -3rem 2rem 0 0; /* -3rem wegen der position fixed im body aus der index.css von -1.4rem verändert*/
}

.project { grid-area: project;
    min-width: fit-content;
}
.personal { grid-area: personal;
    min-width: fit-content;
}
