.esources-desk { display: grid;
    grid-template-areas: "garage workstation library managements";
    gap: 25px 50px;

    justify-content: center;
    align-content: center;
    box-sizing: border-box;

    margin: 0 auto;
}

.garage { grid-area: garage; display: grid;
    grid-template-areas: "ins_pro" "snip_gen";
    gap: 25px 25px;

}
.ins_pro { grid-area: ins_pro; }
.snip_gen { grid-area: snip_gen; }

.workstation { grid-area: workstation; display: grid;
    grid-template-areas: "development";

/*    margin: 0 0 0 4rem;*/
}
.development { grid-area: development;

    height: 100%;
    border-radius: 20px;
}

.library { grid-area: library; display: grid;
    grid-template-areas: "know_guide" "lip_doc";

    gap: 25px 25px;
    margin-right: 3rem;
}
.know_guide { grid-area: know_guide; }

.lip_doc { grid-area: lip_doc; }

.managements { grid-area: managements; display: grid;
    grid-template-areas: "project" "personal";
    gap: 25px 25px;

    margin-right: 1.5rem;
}
.project { grid-area: project; }
.personal { grid-area: personal; }
