.esources-desk {
    display: grid;
    grid-template-areas: "garage workstation library managements";
    place-content: center;
    gap: 90px;
    margin-left: -20px;
    min-width: 100vw;
    height: 100vh;
}

.placeholder-gap-row {
    height: 1rem;
}

.garage {
    grid-area: garage;
    display: grid;
    grid-template-areas: "ins_pro" "snip_gen";
    min-width: fit-content;
    min-height: fit-content;
    margin: -3rem 1.5rem 0 .1rem;
}
.ins_pro {
    grid-area: ins_pro;
    min-width: fit-content;
}
.snip_gen {
    grid-area: snip_gen;
    min-width: fit-content;
}

.workstation {
    grid-area: workstation;
    display: grid;
    grid-template-areas: "development";
    margin: -3rem -4.5rem 0 -2.7rem;
}
.development {
    grid-area: development;
    height: 100%;
    border-radius: 20px;
}

.library {
    grid-area: library;
    display: grid;
    grid-template-areas: "know_guide" "lip_doc";
    min-width: fit-content;
    margin: -3rem -1rem 0 0;
}
.know_guide {
    grid-area: know_guide;
    min-width: fit-content;
}
.lip_doc {
    grid-area: lip_doc;
    min-width: fit-content;
}

.managements {
    grid-area: managements;
    display: grid;
    grid-template-areas: "project" "personal";
    min-width: fit-content;
    margin: -3rem 2rem 0 0;
}
.project {
    grid-area: project;
    min-width: fit-content;
}
.personal {
    grid-area: personal;
    min-width: fit-content;
}

/* Media Query für mobile Ansichten */
@media only screen and (max-width: 1050px) {
    .esources-desk {
        position: relative;
        height: 100vh !important;
        gap: 0;
        margin: auto;
    }

    .garage,
    .library,
    .managements {
        display: none;
    }

    .workstation {
        height: 80vh !important;
        width: 100% !important;
        margin: 0;
    }

    .workstation .inner-panels-wrapper {
        height: 100% !important;
        width: 90vw !important;
    }

    .workstation .inner-panels-wrapper .panel {
        height: 100% !important;
        width: 90vw !important;
        box-sizing: border-box;
    }

    .development {
        margin: 0;
        height: 100%;
    }

    .panel-controls {
        margin-bottom: 5px !important;
    }

    .rules-btn {
  display: none;
    }
}
