footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    max-height: 50px;
    width: 98%;
    margin: 0 auto;
    color: var(--color-4);
    background-color: var(--color-01);
    border-radius: 20px 20px 0 0;
    border: solid 1px var(--color-4);
    border-bottom: none;
    box-shadow:  1px 4px 15px var(--color-31),
                 1px -1px 15px var(--color-3),
                 inset 8px -8px 16px #121212,
                 inset -8px 8px 16px #3a3a3a;
}

.footer-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

p {
    background-image: -webkit-linear-gradient(270deg, #808080 53%, #808080 54%, #c0c0c0 64%, #808080 72%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-icon {
    margin-top: 10px;
    font-size: 1.5rem;
    color: var(--color-0)
}
.footer-icon:hover {
    filter: grayscale(100%)
    brightness(30%)
    saturate(150%)
    invert(10%)
    sepia(98%)
    saturate(1500%)
    hue-rotate(335deg)
    brightness(120%)
    contrast(100%)
    grayscale(0)
    brightness(100%)
    hue-rotate(0deg)
    invert(0%)
    sepia(0%);
}

.search-input {
    border: var(--color-1) solid 2px;
    background-color: var(--color-01);
    color: var(--color-5);
    height: 1px;
    font-size: medium;
    font-weight: bolder;
    align-items: center;
}

.search-google-btn {
    width: 40px;
    height: 40px;
}

.clock {
    margin-left: 20px;
    font-weight: bolder;
    border-radius: 25px;
    border: var(--color-1) solid 2px;
    height: 20px;
    font-size: x-large;
    padding: 0 15px 15px 15px;
    background-image: -webkit-linear-gradient(270deg, #808080 53%, #808080 54%, #c0c0c0 64%, #808080 72%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}