header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    max-width: 98%;
    height: 55px;
    margin: 0 auto;
    padding: 0 15px 0 0;
    color: var(--color-4);
    background-color: var(--color-01);
    border-radius: 0 0 20px 20px;
    border: solid 1px var(--color-4);
    outline: solid 2px var(--color-3-1);
    border-top: none;
    box-shadow:  4px 1px 12px var(--color-31),
                 4px 5px 18px var(--color-3),
                 inset 8px 8px 16px #121212,
                 inset -8px -8px 16px #3a3a3a;
}

#heading {
    position: sticky;
    margin-bottom: 8px;
    left: 86px;
    z-index: 9999999999999;
    cursor: default;
}

.header-brackets {
    color: #000000;
    filter: grayscale(100%)
    brightness(50%)
    saturate(200%)
    invert(10%)
    sepia(98%)
    saturate(1500%)
    hue-rotate(354deg)
    brightness(135%)
    contrast(100%);
    z-index: 99999;
}

#google-search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-input {
    border: solid 2px var(--color-3);
    outline: 1px solid var(--color-01);
    background-color: var(--color-0);
    color: var(--color-5);
    height: 1px;
    max-width: 200px;
    padding: 15px;
    font-size: x-small;
    font-weight: bold;
    cursor: text;
}

@media only screen and (max-width: 500px) {
    #google-search {
        display: none;
    }
}