.dashboard-icon-header {
    height: 34px;
    margin: 18px 5px 0 9px;
    filter: grayscale(100%)
    brightness(50%)
    saturate(200%)
    invert(10%)
    sepia(98%)
    saturate(1500%)
    hue-rotate(354deg)
    brightness(175%)
    contrast(100%);
}

.add-icon {
    font-size: 1.5rem;
    margin: .05rem .2rem;
    scale: 1.5;
    Color: var(--color-51);
}
.close-icon {
    margin: .15rem 0;
    height: 30px;
    width: 30px;
}

.settings-icon {
    font-size: 1.5rem;
}

.save-close-icon {
    font-size: 2rem;
}

.delete-forever-icon {
    margin: .2rem;
    font-size: 2rem;
}

.start-icon,
.stop-icon,
.reset-icon {
    margin: 0;
    font-size: 2rem;
}

#timer-icon {
    scale: 1.5;
    margin: 1px 1px 0 0;
}

#google-icon {
    scale: 1.2;
    margin: 2px 0 0 1px;
}

#deepl-icon {
    transform: rotate(180deg);
    margin: 1px 0 0 1px;
    scale: .9;
}

#blackbox-icon {
    scale: 1.1;
    margin: 1px 1px 0 1px;
}

#gemini-icon {
    margin-top: 2px;
    scale: 1.3;
    color: #4c23f3;
}

#bing-icon {
    scale: .92;
    margin: 0 0 0 1px;
}

#openAI-icon  {
    margin: 1px 1px 0 0;
}

#github-icon {
    scale: 1.1;
    margin: 0 1px;
}

#close-navigation-icon {
    margin: 0 0 0 1px;
    scale: 2;
    color: var(--color-31);
}

#ruler-icon {
    rotate: -315deg;
    scale: 1.1;
    margin: 0;
    color: var(--color-41);
}

#copy-to-clipboard-icon {
    margin: 0;
    transform: scaleX(.85) scaleY(1.1);
}

.reset-width-icon {
    margin: 2px 0 0 0;
}