/* Ruler.css */
.ruler {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.ruler-line {
    position: absolute;
    opacity: 0.5;
    background-color: transparent;
    border-left: 1px solid; /* Linie nach links */
    border-top: 1px solid; /* Linie nach oben */
}

.ruler-label {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
}
