#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  max-height: 40px;
  padding: 0 5px 0 20px;
  transition: all .5s ease-in-out;
}

.logo:hover {
  transform: scale(1.25);
}

.base-chuck {
  max-width: 30%;
  opacity: .2;
}
