#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 2.5em;
  padding: 1.5em;
  transition: all .5s ease-in-out;
}

.logo:hover {
  transform: scale(1.25);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


