@import url("css/App.css");
@import url("css/Buttons.css");
@import url("css/DeskGrid.css");
@import url("css/DeskStyles.css");
@import url("css/Footer.css");
@import url("css/Header.css");
@import url("css/Icons.css");
@import url("css/Resizeable.css");

:root {
  font-family: "Helvetica Neue", Arial, Verdana, Tahoma, sans-serif;
  width: 100%;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;

  --color-0: #020202;
  --color-00: #050505;
  --color-01: #101010;
  --color-1: #252526;
  --color-2: #333334;
  --color-21: #414144;
  --color-22: #4a4a4d;
  --color-3-3: #0a0000;
  --color-3-2: #1c0000;
  --color-3-1: #440000;
  --color-3: #5d0101;
  --color-31: #830401;
  --color-4: #7d7e83;
  --color-41: #a7acb2;
  --color-5: #021cf5;

  background-color: var(--color-3-3);
  color: var(--color-4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background-image: -webkit-linear-gradient(270deg, #808080 53%, #808080 54%, #c0c0c0 64%, #808080 72%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  scale: 0.7;
  margin: 20px 0 0 -28px;
}

a {
  text-decoration: none;
  background-clip: text;
}

body {
  width: fit-content;
  height: fit-content;

  display: flex;

  position: absolute; /* Das muss noch gut ausgetestet werden */

  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: scroll;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: #101010;
}
::-webkit-scrollbar-corner {
  background-color: #101010;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-3-1);
  border: 1px solid var(--color-41);
  border-radius: 25px;
}

.dropdown-menu {
  display: none;
}
.show .dropdown-menu {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.nav-group {
  display: flex;
  padding: 10px 5px 7px 10px;
  border-radius: 30px;
}

.dropdown-container {
  position: relative;
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-2);
  border: solid 1px var(--color-4);
  border-radius: 15px;
  box-shadow: inset 6px 6px 12px #111111,
  inset -6px -6px 12px #3b3b3b;
}

.dc-github{
  width: fit-content;
  display: flex;
  flex-direction: row;
  padding: 5px 10px 5px 0;
}

.dropdown-button-container {
  display: flex;
  border-radius: 25px;
  height: 40px;
  padding: 2px;
}

.introductions {
  display: flex;
  justify-content: center;
  color: var(--color-41);
  background-image: -webkit-linear-gradient(270deg, #808080 53%, #808080 54%, #c0c0c0 64%, #808080 72%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}

.form-input-timer,
.form-input-get-more,
.form-input-edit-bookmark {
  margin: 10px 20px;
  font-size: medium;
  font-weight: bold;
  width: 190px;
  color: var(--color-5);
  border-radius: 25px;
  border: var(--color-2) solid 1px;
  background-color: transparent;
  height: 20px;
}

.form-select-timer,
.form-select-get-more,
.form-select-edit-bookmark {
  height: 55px;
  width: 240px;
}

.get-more,
.edit-modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100000;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 600px;
  transform: translate(-50%, -50%);
  padding: 20px;
  transition: transform 0.5s ease-in-out;
  border: solid 1px var(--color-4);
  border-radius: 20px;
  background: var(--color-0);
  box-shadow: 7px 7px 10px var(--color-3),
              3px 3px 8px var(--color-2),
              inset -5px -5px 10px #121212,
              inset 5px 5px 10px #3a3a3a;
}

.success-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-4);
  border: solid 3px #0f7501;
  box-shadow: inset -3px -3px 3px var(--color-1),
                    inset 3px 3px 3px var(--color-21);
  color: #15440d;
  font-weight: bolder;
  padding: 20px;
  border-radius: 15px;
  opacity: .7;
}

.edit-modal {
  padding-top: 10px;
}

.edit-modal-title {
  margin-bottom: 10px;
}

.centered-modal .modal-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}

.time-left {
  font-size: xx-large;
  font-weight: bolder;
  padding-bottom: .5rem;
  margin: 2rem 0 2rem 2rem;
  background-image: -webkit-linear-gradient(270deg, #808080 53%, #808080 54%, #c0c0c0 64%, #808080 72%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.or-set-your-own {
  margin: 0 0 0 4.5rem;
}

.timer-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1040;
}

.timer-popup h2 {
  margin-bottom: 10px;
  font-size: 10rem;
}


.get-more.open {
  transform: translateY(0);
}

.navigation-modal {
  position: absolute;
  z-index: 10000;
}

.timer-controls {
  margin: 6rem 0 0 3.5rem;
}

