:root {
  font-family: "Helvetica Neue", Arial, Verdana, Tahoma, sans-serif ;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;

  --color-1: #131313;
  --color-2: #262626;
  --color-3: #7f0a05;
  --color-31: #c91108;
  --color-32: #d25901;
  --color-4: #808080;
  --color-41: #c0c0c0;

  background-color: var(--color-1);
  color: var(--color-4);
}

a {
  font-weight: 500;
  color: var(--color-4);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-3);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 2px solid var(--color-4);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  box-shadow: inset 8px 8px 16px #121212,
              inset -8px -8px 16px #3a3a3a;
  color: var(--color-41);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--color-41);
}
button:focus,
button:focus-visible {
  border: 2px solid var(--color-3);
}

