header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    width: 98%;
    height: 60px;
    margin: 0 auto;
    padding: 0 20px 0 0;
    color: var(--color-4);
    background-color: var(--color-1);
    border-radius: 0 0 20px 20px;
    border: solid 1px var(--color-4);
    border-top: none;
    box-shadow:  4px 1px 12px var(--color-31),
                 4px 5px 18px var(--color-3),
                 inset 8px 8px 16px #121212,
                 inset -8px -8px 16px #3a3a3a;
}

#dash-icon-header {
    height: 40px;
    margin: 18px 5px 0 10px;
    filter: grayscale(100%)
    brightness(100%)
    saturate(100%)
    invert(10%)
    sepia(98%)
    saturate(1500%)
    hue-rotate(354deg)
    brightness(185%)
    contrast(100%)
    grayscale(0)
    brightness(100%)
    hue-rotate(0deg)
    invert(0%)
    sepia(0%);
}

#heading {
    display: flex;
    margin: 15px 15px 5px 15px;
}

