header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 80px;
    margin: 0 auto;
    padding: 0 20px 0 0;
    color: var(--color-4);
    background-color: var(--color-2);
    border-radius: 0 0 20px 20px;
    border-top: none;
    box-shadow:  4px 1px 12px var(--color-31),
                 4px 5px 18px var(--color-3),
                 inset 8px 8px 16px #121212,
                 inset -8px -8px 16px #3a3a3a;
}

#heading {
    display: flex;
    margin: 0;
    height: 70%;
    width: fit-content;
}

#dash-icon-header {
    height: 60%;
}

#creativity-boost {
    width: 360px;
    height: 75%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
